.accent-background {
  background-color: $cms-accent-color;
  color: $cms-accent-foreground-color;
}

.accent-foreground {
  color: $cms-accent-color;
}

.accent-border {
  border-color: $cms-accent-color;
}

.accent-dark {
  background-color: $cms-dark-color;
  color: $cms-dark-foreground-color;
}
