#cms-tooltip {
  position: absolute;
  z-index: 5500;
  background-color: $cms-dark-color;
  padding: 2px 8px 3px 8px;

  h3 {
    @include reset;
    font-family: $cms-typography-font-family;
    font-size: $cms-typography-font-size;
    font-weight: 100;
    font-style: normal;
    line-height: $cms-typography-line-height;
    color: $cms-dark-foreground-color;
    white-space: pre;
  }
}
