.accent-background {
  background-color: #0572c6;
  color: #fff; }

.accent-foreground {
  color: #0572c6; }

.accent-border {
  border-color: #0572c6; }

.accent-dark {
  background-color: #232323;
  color: #888; }

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: normal;
  src: local("DIN Pro"), url("../fonts/DINPro.woff") format("woff"); }
@font-face {
  font-family: 'DIN Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local("DIN Pro Light"), url("../fonts/DINPro-Light.woff") format("woff"); }
@font-face {
  font-family: 'DIN Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local("DIN Pro Medium"), url("../fonts/DINPro-Medium.woff") format("woff"); }
/*
@font-face {
  font-family: 'DIN Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Bold'), url('../fonts/DINPro-Bold.woff') format('woff');
}
*/
.typography {
  font-family: "DIN Pro Light", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .typography {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.5; }
  .typography .headline {
    font-size: 36px;
    margin: 0 0 20px -2px;
    line-height: 130%; }
  .typography .paragraph {
    margin: 0 0 25px 0;
    padding: 0; }
  .typography b, .typography strong {
    font-family: 'DIN Pro Medium', sans-serif;
    font-weight: normal; }
  .typography ul {
    margin: 0 0 25px 0; }
    .typography ul li {
      padding: 0 0 5px 0; }
      .typography ul li:last-child {
        padding-bottom: 0; }
  .typography .fa-ul {
    margin-left: 0; }
  .typography dl {
    padding: 0;
    margin: 0 0 25px 0;
    width: 100%;
    overflow: hidden; }
  .typography dl dt {
    clear: both;
    float: left;
    width: 30%;
    padding: 0 1em 5px 0;
    margin: 0; }
  .typography dl dd {
    float: left;
    width: 65%;
    padding: 0 0 5px 0;
    margin: 0; }

.sitemap-breadcrumb ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0 0 15px 0;
  padding: 0; }
  .sitemap-breadcrumb ul li {
    float: left;
    padding: 0 10px 0 0; }
    .sitemap-breadcrumb ul li i {
      width: 10px; }
    .sitemap-breadcrumb ul li a {
      text-decoration: none; }
      .sitemap-breadcrumb ul li a:hover {
        text-decoration: underline; }

.sitemap-search .search-result {
  display: none; }
  .sitemap-search .search-result .result-listing {
    display: none; }
    .sitemap-search .search-result .result-listing ol {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .sitemap-search .search-result .result-listing ol li {
        margin: 0 0 10px 0;
        padding: 0; }
        .sitemap-search .search-result .result-listing ol li .meta {
          padding-left: 1.5em;
          display: block;
          color: rgba(255, 255, 255, 0.7); }
  .sitemap-search .search-result .no-results {
    display: none; }

.sitemap-tree, .node-select-input .panel, .contenttype-select-input .panel {
  padding: 0 0 3px 0; }
  .sitemap-tree ul, .node-select-input .panel ul, .contenttype-select-input .panel ul {
    list-style-type: none;
    padding: 0 0 0 20px;
    margin: 0; }
    .sitemap-tree ul:first-child, .node-select-input .panel ul:first-child, .contenttype-select-input .panel ul:first-child {
      padding-left: 0; }
    .sitemap-tree ul li, .node-select-input .panel ul li, .contenttype-select-input .panel ul li {
      line-height: 1.5;
      padding: 0;
      white-space: nowrap; }
      .sitemap-tree ul li.collapsed > .toggle > .fa:before, .node-select-input .panel ul li.collapsed > .toggle > .fa:before, .contenttype-select-input .panel ul li.collapsed > .toggle > .fa:before {
        padding-left: 9px;
        content: "\f0da"; }
      .sitemap-tree ul li.expanded > .toggle > .fa:before, .node-select-input .panel ul li.expanded > .toggle > .fa:before, .contenttype-select-input .panel ul li.expanded > .toggle > .fa:before {
        padding-left: 7px;
        content: "\f0d7"; }
      .sitemap-tree ul li i, .node-select-input .panel ul li i, .contenttype-select-input .panel ul li i {
        width: 20px; }
      .sitemap-tree ul li a, .node-select-input .panel ul li a, .contenttype-select-input .panel ul li a {
        text-decoration: none; }
        .sitemap-tree ul li a:hover, .node-select-input .panel ul li a:hover, .contenttype-select-input .panel ul li a:hover {
          text-decoration: underline; }
      .sitemap-tree ul li .ui-droppable-hover, .node-select-input .panel ul li .ui-droppable-hover, .contenttype-select-input .panel ul li .ui-droppable-hover, .sitemap-tree ul li .ui-droppable-hover a, .node-select-input .panel ul li .ui-droppable-hover a, .contenttype-select-input .panel ul li .ui-droppable-hover a {
        background-color: #fff;
        color: #0572c6;
        text-decoration: none; }
      .sitemap-tree ul li.section, .node-select-input .panel ul li.section, .contenttype-select-input .panel ul li.section {
        padding-left: 24px; }
        .sitemap-tree ul li.section > span, .node-select-input .panel ul li.section > span, .contenttype-select-input .panel ul li.section > span {
          font-size: 11px;
          padding: 2px 4px 2px 4px;
          border: 1px solid rgba(255, 255, 255, 0.7);
          border-radius: 4px; }
      .sitemap-tree ul li span, .node-select-input .panel ul li span, .contenttype-select-input .panel ul li span {
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 0 4px; }
        .sitemap-tree ul li span.ui-droppable-active, .node-select-input .panel ul li span.ui-droppable-active, .contenttype-select-input .panel ul li span.ui-droppable-active {
          border: 1px solid #fff; }
          .sitemap-tree ul li span.ui-droppable-active a, .node-select-input .panel ul li span.ui-droppable-active a, .contenttype-select-input .panel ul li span.ui-droppable-active a {
            text-decoration: none; }

input[type="checkbox"],
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  input[type="checkbox"]:active + label:before,
  input[type="radio"]:active + label:before {
    border-color: #fff; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    position: relative;
    padding-left: 25px;
    vertical-align: middle;
    line-height: normal; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      box-sizing: content-box;
      content: '';
      color: rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 10px;
      left: 0;
      width: 10px;
      height: 10px;
      margin-top: -8px;
      border: 2px solid rgba(255, 255, 255, 0.7);
      text-align: center; }
    input[type="checkbox"] + label:after,
    input[type="radio"] + label:after {
      box-sizing: content-box;
      content: '';
      background-color: #fff;
      position: absolute;
      top: 10px;
      left: 3px;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      transform: scale(0); }

input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 10px;
  left: 2px;
  width: 8px;
  height: 3px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0); }
input[type="checkbox"]:checked + label:after {
  content: '';
  transform: rotate(-45deg) scale(0.75); }

input[type="radio"]:checked + label:before {
  background-color: #0572c6; }
input[type="radio"]:checked + label:after {
  transform: scale(0.75); }
input[type="radio"] + label:before, input[type="radio"] + label:after {
  border-radius: 50%; }

input[type=text], div.user-input,
input[type=password],
select,
textarea,
.trumbowyg-editor,
.trumbowyg-textarea {
  letter-spacing: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  outline: none;
  color: #232323;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 6px 6px 7px 7px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 25px 0; }
  input[type=text]:focus, div.user-input:focus, input[type=text]:active, div.user-input:active,
  input[type=password]:focus,
  input[type=password]:active,
  select:focus,
  select:active,
  textarea:focus,
  .trumbowyg-editor:focus,
  .trumbowyg-textarea:focus,
  textarea:active,
  .trumbowyg-editor:active,
  .trumbowyg-textarea:active {
    background-color: white; }

select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0; }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000; }

button {
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 6px 11px 7px 11px;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  letter-spacing: inherit; }
  button i.fa {
    padding-left: 5px; }
  button:hover, button:focus {
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 5px 10px 6px 10px; }
  button:active, button.active {
    background-color: #fff;
    color: #0572c6; }

textarea, .trumbowyg-editor,
.trumbowyg-textarea {
  height: 150px; }

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  select::-ms-expand {
    display: none; }

  select:focus::-ms-value {
    background: transparent;
    color: grey; } }
#cms-tooltip {
  position: absolute;
  z-index: 5500;
  background-color: #232323;
  padding: 2px 8px 3px 8px; }
  #cms-tooltip h3 {
    margin: 0;
    padding: 0;
    font-family: "DIN Pro Light", sans-serif;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    line-height: 1.5;
    color: #888;
    white-space: pre; }

div.user-input a {
  color: #232323;
  text-decoration: none; }
  div.user-input a:hover {
    color: #0572c6;
    text-decoration: underline; }

.node-select-input, .contenttype-select-input {
  position: relative; }
  .node-select-input .value, .contenttype-select-input .value {
    line-height: normal; }
  .node-select-input.panel-opened, .panel-opened.contenttype-select-input {
    background-color: white; }
    .node-select-input.panel-opened .value, .panel-opened.contenttype-select-input .value {
      display: none; }
  .node-select-input .panel, .contenttype-select-input .panel {
    display: none;
    height: 251px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 0 0 2px; }
    .node-select-input .panel li, .contenttype-select-input .panel li {
      color: #ccc; }
    .node-select-input .panel i.fa.enabled, .contenttype-select-input .panel i.fa.enabled {
      color: #232323; }
    .node-select-input .panel i.fa.disabled, .contenttype-select-input .panel i.fa.disabled {
      color: #ccc; }
  .node-select-input .panel-trigger, .contenttype-select-input .panel-trigger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 8px 3px 8px; }

.file-upload-input {
  position: relative; }
  .file-upload-input .value {
    line-height: normal; }
  .file-upload-input input {
    display: none; }
  .file-upload-input .select-file {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 8px 3px 8px; }

.contenttype-select-input .panel li {
  color: #232323; }

#trumbowyg-icons {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  width: 0; }
  #trumbowyg-icons svg {
    height: 0;
    width: 0; }

.trumbowyg-box {
  margin: 0 0 25px 0; }
  .trumbowyg-box *,
  .trumbowyg-box *::before,
  .trumbowyg-box *::after {
    box-sizing: border-box; }
  .trumbowyg-box svg {
    width: 15px;
    height: 100%;
    fill: #fff; }

.trumbowyg-box,
.trumbowyg-editor {
  display: block;
  position: relative;
  min-height: 300px;
  overflow: scroll; }

.trumbowyg-box .trumbowyg-editor {
  margin: 0 auto; }

.trumbowyg-editor,
.trumbowyg-textarea {
  position: relative;
  box-sizing: border-box;
  min-height: 300px;
  resize: none;
  outline: none;
  overflow: auto;
  margin: 0 !important; }

.trumbowyg-box.trumbowyg-editor-visible .trumbowyg-textarea {
  display: none;
  /*
  height: 1px !important;
  width: 25%;
  min-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  background: none;
  opacity: 0 !important;
  */ }

.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-textarea {
  display: block;
  font-family: 'Courier New'; }
.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-editor {
  display: none; }

.trumbowyg-box.trumbowyg-disabled .trumbowyg-textarea {
  opacity: 0.8;
  background: none; }

.trumbowyg-editor[contenteditable=true]:empty:not(:focus)::before {
  content: attr(placeholder);
  color: #232323;
  pointer-events: none; }

.trumbowyg-button-pane {
  background-color: #0572c6;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 25px;
  list-style-type: none;
  line-height: 25px;
  margin: 0 0 5px 0; }
  .trumbowyg-button-pane .trumbowyg-button-group {
    display: flex;
    flex-flow: row wrap; }
    .trumbowyg-button-pane .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
      color: transparent; }
    .trumbowyg-button-pane .trumbowyg-button-group:not(:empty) + .trumbowyg-button-group::before {
      content: " ";
      display: block;
      width: 1px;
      background: rgba(255, 255, 255, 0.3);
      margin: 5px;
      height: 20px -5px; }
  .trumbowyg-button-pane button {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    padding: 0px 2px !important;
    overflow: hidden;
    border: none;
    cursor: pointer;
    background: none; }
    .trumbowyg-button-pane button.trumbowyg-textual-button {
      width: auto;
      line-height: 25px; }
  .trumbowyg-button-pane.trumbowyg-disable button:not(.trumbowyg-not-disable):not(.trumbowyg-active), .trumbowyg-disabled .trumbowyg-button-pane button:not(.trumbowyg-not-disable):not(.trumbowyg-viewHTML-button) {
    opacity: 0.2;
    cursor: default; }
  .trumbowyg-button-pane.trumbowyg-disable .trumbowyg-button-group::before, .trumbowyg-disabled .trumbowyg-button-pane .trumbowyg-button-group::before {
    background: rgba(255, 255, 255, 0.3); }
  .trumbowyg-button-pane button:not(.trumbowyg-disable):hover,
  .trumbowyg-button-pane button:not(.trumbowyg-disable):focus,
  .trumbowyg-button-pane button.trumbowyg-active {
    background-color: rgba(255, 255, 255, 0.3); }
  .trumbowyg-button-pane .trumbowyg-open-dropdown::after {
    display: block;
    content: " ";
    position: absolute;
    top: 19px;
    right: 3px;
    height: 0;
    width: 0;
    border: 3px solid transparent;
    border-top-color: #fff; }
  .trumbowyg-button-pane .trumbowyg-open-dropdown.trumbowyg-textual-button {
    padding-left: 10px !important;
    padding-right: 18px !important; }
    .trumbowyg-button-pane .trumbowyg-open-dropdown.trumbowyg-textual-button::after {
      top: 17px;
      right: 7px; }
  .trumbowyg-button-pane .trumbowyg-right {
    margin-left: auto; }
    .trumbowyg-button-pane .trumbowyg-right::before {
      display: none !important; }

.trumbowyg-dropdown {
  width: 200px;
  padding: 4px 0;
  background: #fff;
  border: 1px solid #0572c6;
  overflow: hidden; }
  .trumbowyg-dropdown button {
    display: block;
    height: 23px;
    text-decoration: none;
    color: #232323;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 2px 0; }
    .trumbowyg-dropdown button:hover, .trumbowyg-dropdown button:focus {
      color: #0572c6;
      text-decoration: underline; }
    .trumbowyg-dropdown button svg {
      fill: #232323;
      float: left;
      margin: 0 10px; }

/* Modal box */
.trumbowyg-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  overflow: hidden;
  margin: -25px 0 0 0; }

.trumbowyg-modal-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px 62px 15px;
  z-index: 1;
  background-color: #232323;
  color: #888;
  text-align: right; }
  .trumbowyg-modal-box .trumbowyg-modal-title {
    font-size: 20px;
    margin: 0 0 15px 0;
    display: block;
    text-align: left; }
  .trumbowyg-modal-box label {
    display: block;
    position: relative;
    margin: 0 0 15px 0;
    overflow: hidden; }
    .trumbowyg-modal-box label input {
      margin: 26px 0 0 0; }
    .trumbowyg-modal-box label .trumbowyg-input-infos {
      text-align: left;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      width: 100%; }
      .trumbowyg-modal-box label .trumbowyg-input-infos span.trumbowyg-msg-error {
        float: right;
        color: #e74c3c; }
    .trumbowyg-modal-box label.trumbowyg-input-error {
      color: #e74c3c; }
    .trumbowyg-modal-box label:last-of-type {
      margin: 0; }
  .trumbowyg-modal-box .trumbowyg-modal-button {
    display: inline-block;
    margin: 25px 0 0 15px;
    min-width: 100px; }

.trumbowyg-overlay {
  position: absolute;
  background-color: rgba(5, 114, 198, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 10; }

/**
* Fullscreen
*/
body.trumbowyg-body-fullscreen {
  overflow: hidden; }

.trumbowyg-fullscreen {
  background-color: #0572c6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 15px;
  z-index: 99999; }
  .trumbowyg-fullscreen .trumbowyg-editor,
  .trumbowyg-fullscreen .trumbowyg-textarea {
    height: calc(100% - 25px - 5px) !important;
    overflow: auto; }

.trumbowyg-editor {
  /*
   * lset for resetCss option
   */ }
  .trumbowyg-editor a {
    color: inherit !important;
    text-decoration: underline !important; }
  .trumbowyg-editor object,
  .trumbowyg-editor embed,
  .trumbowyg-editor video,
  .trumbowyg-editor img {
    max-width: 100%; }
  .trumbowyg-editor video,
  .trumbowyg-editor img {
    height: auto; }
  .trumbowyg-editor img {
    cursor: move; }
  .trumbowyg-editor.trumbowyg-reset-css {
    background: #FEFEFE !important;
    font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
    font-size: 14px !important;
    line-height: 1.45em !important;
    white-space: normal !important;
    color: #333; }
    .trumbowyg-editor.trumbowyg-reset-css a {
      color: inherit !important;
      text-decoration: underline !important; }
    .trumbowyg-editor.trumbowyg-reset-css div,
    .trumbowyg-editor.trumbowyg-reset-css p,
    .trumbowyg-editor.trumbowyg-reset-css ul,
    .trumbowyg-editor.trumbowyg-reset-css ol,
    .trumbowyg-editor.trumbowyg-reset-css blockquote {
      box-shadow: none !important;
      background: none !important;
      margin: 0 !important;
      margin-bottom: 15px !important;
      line-height: 1.4em !important;
      border: none; }
    .trumbowyg-editor.trumbowyg-reset-css iframe,
    .trumbowyg-editor.trumbowyg-reset-css object,
    .trumbowyg-editor.trumbowyg-reset-css hr {
      margin-bottom: 15px !important; }
    .trumbowyg-editor.trumbowyg-reset-css blockquote {
      margin-left: 32px !important;
      font-style: italic !important;
      color: inherit; }
    .trumbowyg-editor.trumbowyg-reset-css ul,
    .trumbowyg-editor.trumbowyg-reset-css ol {
      padding-left: 20px !important; }
    .trumbowyg-editor.trumbowyg-reset-css ul ul,
    .trumbowyg-editor.trumbowyg-reset-css ol ol,
    .trumbowyg-editor.trumbowyg-reset-css ul ol,
    .trumbowyg-editor.trumbowyg-reset-css ol ul {
      border: none;
      margin: 2px !important;
      padding: 0 !important;
      padding-left: 24px !important; }
    .trumbowyg-editor.trumbowyg-reset-css hr {
      display: block;
      height: 1px;
      border: none;
      border-top: 1px solid #232323; }
    .trumbowyg-editor.trumbowyg-reset-css h1,
    .trumbowyg-editor.trumbowyg-reset-css h2,
    .trumbowyg-editor.trumbowyg-reset-css h3,
    .trumbowyg-editor.trumbowyg-reset-css h4 {
      color: inherit;
      background: none;
      margin: 0 !important;
      padding: 0 !important;
      font-weight: bold; }
    .trumbowyg-editor.trumbowyg-reset-css h1 {
      font-size: 32px !important;
      line-height: 38px !important;
      margin-bottom: 20px !important; }
    .trumbowyg-editor.trumbowyg-reset-css h2 {
      font-size: 26px !important;
      line-height: 34px !important;
      margin-bottom: 15px !important; }
    .trumbowyg-editor.trumbowyg-reset-css h3 {
      font-size: 22px !important;
      line-height: 28px !important;
      margin-bottom: 7px !important; }
    .trumbowyg-editor.trumbowyg-reset-css h4 {
      font-size: 16px !important;
      line-height: 22px !important;
      margin-bottom: 7px !important; }

body {
  padding: 150px 30px 30px 30px;
  margin: 0;
  color: #fff; }

/*
::-webkit-scrollbar { width: 2px; height: 2px; }
::-webkit-scrollbar-button { background-color: $cms-accent-foreground-color; }
::-webkit-scrollbar-track { background-color: $cms-accent-color; }
::-webkit-scrollbar-thumb { background-color: $cms-accent-foreground-color-light; }
::-webkit-scrollbar-corner { background-color: $cms-accent-color; }
*/
a {
  color: rgba(255, 255, 255, 0.7); }
  a:hover {
    color: #fff; }

dl dd {
  color: rgba(255, 255, 255, 0.7); }

form {
  margin: 0;
  padding: 0; }

fieldset {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 25px 0;
  padding: 0; }
  fieldset legend {
    margin: 0 0 25px 0;
    padding: 0 10px 0 0;
    font-size: 20px; }
  fieldset > :last-child {
    margin-bottom: 0; }

label {
  display: block;
  margin: 0 0 5px 0; }

.help-item {
  display: none;
  font-style: normal;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); }

.dialog-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #0572c6;
  padding: 30px 30px 0 30px;
  z-index: 100;
  height: 100px; }
  .dialog-header h1 {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    clear: both;
    padding-top: 12.5px;
    margin-bottom: 0; }
  .dialog-header.small {
    height: 50px;
    /*border-bottom: 1px solid $cms-accent-foreground-color-very-light;*/
    box-shadow: 0px 15px 25px -15px rgba(0, 0, 0, 0.5); }
    .dialog-header.small h1 {
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -ms-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      padding-top: 0;
      clear: none;
      font-size: 25px; }
  .dialog-header .controls {
    float: right;
    overflow: hidden;
    text-align: right; }
    .dialog-header .controls a {
      outline: none;
      font-size: 12px;
      width: 22px;
      height: 22px;
      text-align: center;
      float: left;
      display: block;
      text-decoration: none;
      margin: 0 0 0 10px;
      padding: 1px;
      color: rgba(255, 255, 255, 0.7);
      border: 1px solid rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      line-height: 1.75; }
      .dialog-header .controls a:hover, .dialog-header .controls a:focus {
        border: 2px solid rgba(255, 255, 255, 0.7);
        padding: 0px; }
      .dialog-header .controls a:active, .dialog-header .controls a.active {
        background-color: #fff;
        color: #0572c6; }

.dialog-button-row {
  clear: both;
  overflow: hidden;
  text-align: left; }
  .dialog-button-row button {
    display: inline-block;
    margin: 0 15px 0 0;
    min-width: 125px; }

.sortable-container > div {
  cursor: ns-resize;
  padding: 0 0 5px 0; }
  .sortable-container > div:last-child {
    padding-bottom: 0; }

/*# sourceMappingURL=dialog.css.map */
